@using System.Collections.Generic;
@using Sandbox;

@namespace TTT.UI

<root>
    <ScoreboardInfo />
    <div @ref=GroupPanel class="background-color-secondary rounded-bottom groups">
        @{
            var groups = new HashSet<PlayerStatus>();
            var players = PlayersByStatus();

            while (players.Count > 0)
            {
                var player = players.Dequeue();

                if (!groups.Contains(player.Status))
                {
                    groups.Add(player.Status);
                    <ScoreboardGroup Status=@player.Status />
                }

                <ScoreboardEntry Player=@player />
            }
        }
    </div>
</root>

<style>
    Scoreboard {
        flex-direction: column;
        transition: bottom 0.2s ease-out;

        .groups {
            flex-direction: column;
            padding: 8 8 12 8;
            max-height: 77%;
            overflow: scroll;
        }

        &:intro {
            bottom: 25px;
        }
    }
</style>