@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@using System;
@using System.Linq;

@namespace TTT.UI.GameMenu

@attribute [StyleSheet]

<root style="flex-direction: column;">

    <div class="game-title">
        TTT
    </div>

    <div class="controls">

        @if ( Game.InGame )
        {
            <a class="button" href="/active">Current Game</a>
            <a class="button" onclick=@LeaveGame>Leave Game</a>
            <span style="height: 20px;"></span>
        }
        else
        {
            <a class="button" href="/create">Create Game</a>
        }

        <a class="button" href="/servers">Find a Game</a>
        <a class="button" href="/settings">Settings</a>

        <span style="height: 20px;"></span>

        <a class="button" @onclick=@Game.Menu.Close>Quit</a>

    </div>

</root>

@code
{
    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }
}
