$alive: #17ad44;
$missing: #50754f;
$dead: #c65b3a;
$spectator: #fcdb38;

$primary: #303030;
$secondary: #1a1a1a;
$tertiary: #fdc418;

$button-primary: #ffffff !default;
$button-primary-fg: #ffffff !default;
$button-secondary: #282828 !default;
$button-secondary-fg: #dadada !default;
$button-size: 45px;

@import "/ui/styles/button.scss";
@import "/ui/styles/checkbox.scss";
@import "/ui/styles/dropdown.scss";
@import "/ui/styles/label.scss";
@import "/ui/styles/textentry.scss";
@import "/ui/styles/slider.scss";

@import "/ui/components/coloreditor/coloreditor.scss";
@import "/ui/components/linebreak/linebreak.scss";

hud {
    font-family: Poppins;
    flex-shrink: 0;
    color: #fafafa;
    letter-spacing: 0.5px;
}

.iconpanel,
.icon {
    font-size: 21px;
    font-family: MaterialIcons;
}

.disabled {
    display: none;
    pointer-events: none;
}

.fade-in {
    opacity: 0.75;
}

.fade-out {
    opacity: 0;
}

.rounded {
    border-radius: 4px;
}

.rounded-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rounded-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.opacity-medium {
    opacity: 0.75;
}

.opacity-heavy {
    opacity: 0.9;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centered-vertical-75 {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%) translateY(-50%);
}

.text-shadow {
    text-shadow: 1px 1px 1px black;
}

.box-shadow {
    box-shadow: 0px 0px 10px black;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-color-tertiary {
    color: $tertiary;
}

.background-color-gradient {
    background: linear-gradient($primary, $secondary);
}

.background-color-primary {
    background-color: $primary;
}

.background-color-secondary {
    background-color: $secondary;
}

.background-color-tertiary {
    background-color: $tertiary;
}