@import "/ui/Hud.scss";

C4Hint
{
    flex-direction: column;
    align-items: center;

    .title
    {
        font-weight: 600;
        font-size: 18px;
    }

    inputglyph
    {
        margin: 5px;
    }
}
