@namespace TTT.UI

<root>
    <div style="flex-direction: column;">
        <div @ref="Header" class="header text-shadow">
            <text style="width: 10%;">Type</text>
            <text style="width: 10%;">Time</text>
            <text style="width: 80%;">Event</text>
        </div>
        <div @ref="Events" class="events" />
    </div>
</root>

<style>
    EventSummary {
        height: 55%;

        .header {
            margin-top: 3px;
            background-color: #aaaaaa15;
            padding: 3 8 3 8;
            border-radius: 4 4 0 0;
            font-weight: 600;
            flex-shrink: 0;
        }

        .events {
            flex-direction: column;
            overflow: scroll;
            height: 85%;

            .event {
                width: 100%;
                padding: 8px;
                flex-shrink: 0;

                .icon {
                    width: 10%;
                }

                .time {
                    width: 10%;
                }

                .desc {
                    width: 80%;
                }

                &:nth-child(odd) {
                    background-color: #0a0a0a66;
                }

                &:nth-child(even) {
                    background-color: #4b4b4b15;
                }

                &.me:nth-child(1) {
                    background-color: #f2b42d1a;
                }

                &:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
</style>