@namespace TTT.UI

<root>
    <div style="flex-direction: column;">
        @if (_events.IsNullOrEmpty())
        {
            return;
        }

        <div class="header text-shadow">
            <text style="width: 10%;">Type</text>
            <text style="width: 10%;">Time</text>
            <text style="width: 80%;">Event</text>
        </div>
        <div class="events">
            @foreach (var entry in _events)
            {
                <EventEntry EventType=@entry.EventType Time=@entry.Time.TimerString() Description=@entry.Description />
            }
        </div>
    </div>
</root>

<style>
    EventSummary {
        .header {
            margin-top: 3px;
            background-color: #aaaaaa15;
            padding: 3 8 3 8;
            border-radius: 4 4 0 0;
            font-weight: 600;
            flex-shrink: 0;
        }

        .events {
            flex-direction: column;
            overflow: scroll;
            height: 85%;
        }
    }
</style>