tabcontainer, customtabcontainer
{
    height: 100%;
    flex-direction: column;

    > .sheets
    {
        > :not( .active )
        {
            display: none;
        }
    }

    &.tabs-bottom
    {
        flex-direction: column-reverse;

        > .tabs
        {
            padding-left: 5px;
        }

        > .tabs .button
        {
            border-radius: 0px 0px 4px 4px;
        }

        > .sheet
        {
            border-radius: 3px 3px 3px 0px;
        }
    }

    &.tabs-left
    {
        flex-direction: row;

        > .tabs
        {
            padding-top: 5px;
            flex-direction: column;
        }

        > .tabs .button
        {
            border-radius: 4px 0 0px 4px;
        }

        > .sheet
        {
            border-radius: 0px 3px 3px 3px;
        }
    }

    .tabs 
    {
        .button
        {
            padding: 10px 15px 0px 0px;
            min-height: 0px;
            opacity: 0.1;
            font-size: 25px;
            color: white;
            font-weight: normal;
            font-family: Poppins;
            margin-bottom: 10px;
            text-shadow: 1px 1px 1px black;
            height: 40px;
    
            .iconpanel
            {
                margin: 0;
                margin-right: 5px;
                font-size: 25px;
            }
    
            &.tight
            {
                padding: 0;
                height: 20px; // hack
                min-width: 0px;
                justify-content: center;
            }
    
            &:hover
            {
                opacity: 0.15;
            }
    
            &.active
            {
                opacity: 1;
            }
        }
    }
}
