@using Sandbox;

@namespace TTT.UI

<root class="background-color-primary opacity-heavy rounded">
	@if (PlayerId != default)
	{
		<div class="avatar">
			<img class="circle" src="avatar:@PlayerId" />
		</div>
	}
	<div class="header">
		<text class="name" style="color: @Color.Hex;">@Name</text>
	</div>
	@if (!Message.IsNullOrEmpty())
	{
		<div class="main">
			<text class="msg">@Message</text>
		</div>
	}
</root>

@code
{
	private long PlayerId { get; set; }
	private string Name { get; set; }
	private string Message { get; set; }
	private Color Color { get; set; }

	public TimeSince Lifetime { get; init; } = 0;

	public TextChatEntry(long playerId, string name, string message, Color color) 
	{
		PlayerId = playerId;
		Name = name;
		Message = message;
		Color = color;
	}

	public TextChatEntry(string message, Color? color = null)
	{
		Name = message; // Use the name field since it is in bold.
		Color = color ?? Color.FromBytes( 253, 196, 24 );
	}
}

<style>
	TextChatEntry {
		max-width: 100%;
		flex-shrink: 0;
		padding: 4px 10px;
		transition: opacity 0.15s ease;
		margin-bottom: 6px;

		.header {
			flex-shrink: 0;
			flex-grow: 0;
			padding-left: 4px;
			margin-top: 3px;
			font-weight: 700;
			font-size: 16px;
			color: white;
			padding-right: 8px;
		}

		.msg {
			margin-top: 3px;
			font-size: 16px;
		}

		img {
			flex-shrink: 0;
			height: 30px;
			width: 30px;
		}

		&.stale {
			transition: opacity 1s ease;
			opacity: 0;
		}
	}
</style>