@using Sandbox;
@using System;

@namespace TTT.UI

<root class="background-color-primary opacity-heavy rounded">
	<div style="flex-shrink: 0;">
		@if (PlayerId != default)
		{
			<div class="avatar">
				<img class="circle" src="avatar:@PlayerId" />
			</div>
		}
		<text class="name" style="color: @Color.Hex;">@Name</text>
	</div>
	@if (!Message.IsNullOrEmpty())
	{
		<div>
			<text class="message">@Message</text>
		</div>
	}
</root>

@code
{
	private long PlayerId { get; set; }
	private string Name { get; set; }
	private string Message { get; set; }
	private Color Color { get; set; }

	public TimeSince Lifetime { get; init; } = 0;

	public TextChatEntry(long playerId, string name, string message, Color color) 
	{
		PlayerId = playerId;
		Name = name;
		Message = message;
		Color = color;
	}

	public TextChatEntry(string message, Color color)
	{
		Name = message; // Use Name field since it is bold & colored.
		Color = color;
	}
}

<style>
	TextChatEntry {
		max-width: 100%;
		padding: 4px 10px;
		transition: opacity 0.15s ease;
		margin-bottom: 6px;
		flex-shrink: 0;

		img {
			height: 30px;
			width: 30px;
			margin-right: 3px;
		}

		.name {
			font-weight: 700;
			font-size: 16px;
			margin-top: 3px;
		}

		.message {
			font-size: 16px;
			margin-top: 3px;
			margin-left: 5px;
			flex-shrink: 0;
		}

		&.stale {
			transition: opacity 1s ease;
			opacity: 0;
		}
	}
</style>