# s&box related
code/*.csproj
code/obj
code/Properties
.intermediate
_bakeresourcecache
tools_asset_info.bin
tools_thumbnail_cache.bin
*.los

# weapon models/materials/sounds
ttt-models
materials/models/weapons/*
models/weapons/*
sounds/weapons/*

# vscode
.vscode
*/.vs/*
