# s&box related
code/*.csproj
code/obj
code/Properties
.intermediate
_bakeresourcecache
tools_asset_info.bin
tools_thumbnail_cache.bin
*.los

# Uncompiled models/sounds/textures
*.vanmgrph
*.vmdl
*.vmat
*.sound
*.wav
*.mp3
*.dmx
*.fbx
*.vtx
*.vvd
*.mdl
*.tga
*.phy
weapons/**/*.png
materials/**/*.png
models/**/*.png

# vscode
.vscode
*/.vs/*
*.dll
.addon
.vs/output/base.pdb
.vs/output/base.xml
.vs/output/Sandbox.Engine.xml
.vs/output/Sandbox.Event.xml
.vs/output/Sandbox.Game.xml
.vs/output/Sandbox.Hotload.xml
.vs/output/Sandbox.Reflection.xml
.vs/output/Sandbox.SolutionGenerator.xml
.vs/output/Sandbox.System.xml
.vs/output/Topten.RichTextKit.xml
.vs/output/ttt.deps.json
.vs/output/ttt.pdb
.vs/output/Zio.xml
.vs/output/ttt.xml
