InventorySelection 
{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.hide 
    {
        display: none;
    }
}

InventorySlot 
{
    height: 34px;
    font-size: 20px;
    opacity: 0.5;
    align-items: center;
    transition: opacity 0.1s ease-out;
    transition: height 0.1s ease-in;

    .slot-label 
    {
        height: 100%;
        text-align: center;
        margin-right: 10px;
        width: 34px;
        align-items: center;
        font-weight: bold;
    }

    .slot-text 
    {
        position: absolute;
        right: 8px;
    }

    &.active 
    {
        opacity: 1;
    }

    &:outro
    {
        height: 0;
        opacity: 0;
    }

    &:intro
    {
        height: 0;
        opacity: 0;
    }
}
