InventorySelection 
{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.hide 
    {
        display: none;
    }

    .rounded-top-left
    {
        border-top-left-radius: 8px;
    }

    .rounded-bottom-left
    {
        border-bottom-left-radius: 8px;
    }
}
