@import "/ui/Hud.scss";

SettingsMenu 
{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40%;
    opacity: 1;
    flex-direction: column;
    transition: all 0.2s ease-in;
    
    .background-panel
    {
        pointer-events: all;
        height: 550px;
        padding: 25px;
        flex-direction: column;
    }
}
