@import "/ui/Hud.scss";

$fontcolor: #FFF;
$fontcolorfaded: #b1b1b1;
$secondary: #F2BC1B;
$bg: #1f202a;
$innerbg: #1a1a23;
$lightbg: #313344;
$lighterbg: #3f4155;
$blue: #2C3673;
$radius: 8px;
$smallradius: 8px;
$padding: 15px;
$green: #4cb74c;
$red: #ba2828;

ChatBox {
    position: absolute;
    bottom: 140px;
    left: 25px;
    width: 450px;
    height: 570px;
    border-radius: $radius;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    font-size: 16px;

    &.open {
        pointer-events: all;

        .input {
            opacity: 1;
            cursor: text;
        }

        .faded {
            opacity: 1;
        }
    }

    .entries {
        flex-direction: column;
        overflow: scroll;
    }

    .input {
        opacity: 0;
        min-height: 50px;
        max-height: 50px;
        margin-top: 10px;

        .placeholder {
            color: rgba(white .5);
        }
    }
}

ChatEntry {
    border-radius: $smallradius;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    transition: opacity .15s linear;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 4px;

    &.faded {
        opacity: 0;
    }

    .name {
        font-weight: bold;
        margin-right: 10px;
        color: $alive;
        padding-top: 3px;
        letter-spacing: 1px;
    }

    .message {
        align-items: center;
        flex-grow: 1;
        font-weight: 300;
    }

    &.info {
        .name {
            color: $secondary;
        }
    }
}
