C4Marker
{
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0.75);
    transition: opacity 0.05s ease-in;

    .c4-image
    {
        position: absolute;
        background-image: url("/ui/c4-icon.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
    }

    .timer-label
    {
        position: absolute;
        top: 15px;
        font-weight: bold;
        width: 100px;
    }

    &:intro
    {
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
    }
}
