@namespace TTT.UI

<root class="text-shadow">
    <div class="index">1.<text class="message"></text></div>
    <div class="index">2.<text class="message"></text></div>
    <div class="index">3.<text class="message"></text></div>
    <div class="index">4.<text class="message"></text></div>
    <div class="index">5.<text class="message"></text></div>
    <div class="index">6.<text class="message"></text></div>
    <div class="index">7.<text class="message"></text></div>
    <div class="index">8.<text class="message"></text></div>
    <div class="index">9.<text class="message"></text></div>
</root>

<style>
    QuickChat {
        position: absolute;
        left: 25px;
        bottom: 365px;
        flex-direction: column;
        z-index: 101;
        font-size: 17px;

        .message {
            margin-left: 10px;
            font-weight: normal;
        }

        .index {
            font-weight: bold;
        }
    }
</style>