@import "/ui/Hud.scss";

Shop 
{
    width: 100%;
    align-items: center;
    flex-direction: column;
    transition: all 0.15s ease-out;
    height: 100%;

    .credits
    {
        color: $info;
    }

    .item-container
    {
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: scroll;
    }

    .description
    {
        margin: 7px;
        height: 30px;
        font-size: 20px;
        transition: opacity 0.25s ease-out;
        opacity: 0;

        &.fade-in 
        {
            opacity: 1;
        }
    }
}
