Shop 
{
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
    pointer-events: all;
    text-align: center;
    font-size: 10px;

    .shop-container 
    {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .title-container 
        {
            flex-direction: row;

            Label 
            {
                font-size: 50px;
            }

            .role-label 
            {
                padding-right: 20px;
            }
        }

        &.pop-in 
        {
            transform: scale(1);
        }

        .credit-label, .credits 
        {
            font-size: 23px;
            text-shadow: 1px 1px 1px black;
        }

        .credits 
        {
            color: #fdc418;
        }

        .item-panel 
        {
            flex-wrap: wrap;
            overflow: scroll;
            max-height: 325px;
            justify-content: flex-start;
        }

        .item-description-label 
        {
            margin: 25px;
            font-size: 18px;
            transition: opacity 0.25s ease-out;
            opacity: 0;
            height: 18px;
            text-shadow: 1px 1px 1px black;

            &.fade-in 
            {
                opacity: 1;
            }
        }

        .scroll-icon
        {
            transition: all 0.15s ease-out;
            text-shadow: 1px 1px 1px black;
        }
    }
}

ShopItem 
{
    flex-direction: column;
    width: 90px;
    height: 90px;
    margin: 18 39 40 40;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: transform 0.1s ease-in;
    box-shadow: 0 0 10px black;
    white-space: nowrap;
    opacity: 0.8;

    &:hover 
    {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active 
    {
        transform: scale(1);
    }

    .item-icon 
    {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    .item-name-label 
    {
        position: absolute;
        bottom: -24px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
    }

    .item-price-label 
    {
        position: absolute;
        top: 106px;
        font-weight: bold;
        font-size: 20px;
    }

    &.cannot-purchase 
    {
        opacity: 0.5;
        transform: scale(1);
        cursor: default;
    }
}
