@using System;

@namespace TTT.UI

<root class="text-shadow">
    <div class="index" style="width: 30px;"><text>@Index.</text></div>
    <div>
        <text>@Prefix
            <span
                style="color: @(Target is not null ? Target.QuickChatColor.Hex : "transparent")">@Target?.QuickChatMessage</span>
            <text>@Suffix</text>
        </text>
    </div>
</root>

@code {
    public IQuickChatTarget Target { get; set; }
    public string Index { get; set; }
    public string Prefix { get; set; } = "";
    public string Suffix { get; set; } = "";
    protected override int BuildHash() => HashCode.Combine(Target, Target?.QuickChatMessage, Target?.QuickChatColor);
}

<style>
    QuickChatEntry {
        .index {
            font-weight: bold;
            justify-content: flex-start;
        }
    }
</style>
