@import "/ui/Hud.scss";

corpsehint
{
    flex-direction: column;
    align-items: center;

    .title
    {
        font-weight: 600;
        font-size: 18px;

        &.unidentified
        {
            color: $info;
        }
    }

    .actions
    {
        flex-direction: column;
        align-items: center;

        .credit-hint
        {
            color: $info;
            transition: all 5s ease-out;
        }

        label
        {
            font-size: 15px;
        }

        inputglyph
        {
            margin: 5 5 5 5;
        }
    }

    .covert-panel
    {
        align-items: center;
        transition: all 0.1s ease-in;

        &:outro
        {
            height: 0;
            opacity: 0;
        }
    }
}
