keybindingspage
{
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
    color: white;
    flex-shrink: 0;

    .h1
    {
        color: white;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 5px;
        margin-bottom: 40px;

        &.label
        {
            font-size: 25px;
        }
    }

    .help
    {
        margin-bottom: 20px;
    }

    div
    {
        padding-top: 5px;
        align-items: center;
        flex-shrink: 0;

        inputglyph, text
        {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
}
