@namespace TTT.UI

<root>
    <div class="background-panel background-color-gradient rounded">
        <div style="min-height: 50px;">
            <button icon="arrow_back" @onclick=@PopPage @ref="BackButton"></button>
            <div style="padding: 5px"></div>
            <button icon="home" @onclick=@PopToHomePage @ref="HomeButton"></button>
        </div>
        <div @ref="Pages"></div>
    </div>
</root>

<style>
    GeneralMenu {
        transition: bottom 0.2s ease-out;

        .background-panel {
            pointer-events: all;
            height: 550px;
            padding: 25px;
            flex-direction: column;
        }

        &:intro {
            bottom: 25px;
        }
    }
</style>