@using Sandbox.UI;

@namespace TTT.UI

<root>
    <div>
        <button icon="info" class="@(_selectedTab == _roleSummary ? "selected" : "")" @onclick=@(() => _selectedTab =
            _roleSummary)>@_roleSummary
        </button>

        <button icon="flag_circle" class="@(_selectedTab == _eventSummary ? "selected" : "")" @onclick=@(() =>
            _selectedTab = _eventSummary)>@_eventSummary
        </button>
    </div>
    <div>
        @if (_selectedTab == _roleSummary)
        {
            <RoleSummary />
        }
        else if (_selectedTab == _eventSummary)
        {
            <EventSummary />
        }
    </div>
</root>

@code {
    private const string _roleSummary = "Summary";
    private const string _eventSummary = "Events";
    private string _selectedTab = _roleSummary;
}

<style>
    RoundSummaryPage {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 0 5;
        width: 100%;

        button {
            &:not(.selected) {
                opacity: 0.3;
            }
        }
    }
</style>