RoundSummaryPage
{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 5;

    tabcontainer
    {
        .tabs
        {
            .button
            {
                font-size: 16px;
            }
        }
    }
}
