projectinfopage
{
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
    color: white;
    flex-shrink: 0;

    .h1
    {
        .label
        {
            font-size: 20px;
        }
    }

    .icon
    {
        &.label
        {
            font-family: MaterialIcons;
        }
    }
}
