@using Sandbox.UI

@namespace TTT.UI

@inherits Panel

@code
{
}

<root>
    <div class="inner"></div>
    <style>
        RoleWelcome {
            position: absolute;
            width: 100%;
            height: 200px;
            bottom: 12px;
            display: flex;
            align-items: center;

            .inner {
                background-color: grey;
                width: 700px;
                height: 100%;

                &:intro {
                    bottom: -50px;
                }
            }

        }
    </style>
</root>