@import "/ui/Hud.scss";

ChatBox 
{
    position: absolute;
    bottom: 140px;
    left: 25px;
    width: 450px;
    height: 570px;
    border-radius: 4px;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
    font-size: 16px;

    &.open 
    {
        pointer-events: all;

        .input 
        {
            opacity: 1;
            cursor: text;
        }

        .faded 
        {
            opacity: 1;
        }
    }

    .entries 
    {
        flex-direction: column;
        overflow: scroll;
    }

    tabtextentry
    {
        border-width: 2px;
    }

    .input 
    {
        opacity: 0;
        min-height: 50px;
        max-height: 50px;
        margin-top: 10px;

        .placeholder 
        {
            color: rgba(white .5);
        }
    }
}

ChatEntry 
{
    border-radius: 4px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    transition: opacity .15s linear;
    text-shadow: 1px 1px 1px black;

    &.faded 
    {
        opacity: 0;
    }

    .name 
    {
        font-weight: bold;
        margin-right: 10px;
        color: $alive;
        padding-top: 3px;
        letter-spacing: 1px;
    }

    .message 
    {
        align-items: center;
        flex-grow: 1;
        font-weight: 300;
    }

    &.info 
    {
        .name 
        {
            color: $info;
        }
    }
}
