
.gamemainmenu frontpage
{
	margin: 100px 100px;
	gap: 100px;

	.game-title
	{
		font-family: Poppins;
		font-weight: 700;
		font-size: 70px;
	}

	.controls
	{
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
	}
}