keybindingspage
{
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
    color: white;

    panel
    {
        padding-top: 5px;
        align-items: center;

        inputglyph, text
        {
            margin-right: 10px;
        }
    }
}
