scoreboardheader
{
    flex-direction: row;
    max-height: 100px;
    justify-content: space-between;
    padding: 30 16 0 16;

    .terry-image
    {
        position: absolute;
        top: -70px;
        background-image: url("/ui/scoreboard-terry.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 180px;
        height: 150px;
    }

    .server-information-panel
    {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        margin-right: 12px;
    }

    .server-name-label
    {
        font-size: 20px;
        font-weight: 600;
    }

    .server-description-label
    {
        font-weight: 400;
    }

    .server-data-panel
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    }

    .server-map-label
    {
        font-size: 16px;
        font-weight: 500;
    }

    .server-players-label
    {
        font-weight: 500;
    }
}
