rolebuttonpoint
{
    position: absolute;
    margin-left: -30px;
    margin-top: -30px;
    width: 50px;
    height: 50px;
    align-items: center;
    opacity: 0.5;
    flex-direction: row;
    font-size: 14px;
    transform: scale(0.95);

    .pointer
    {
        font-family: MaterialIcons;
        font-size: 38px;
        text-align: center;
    }

    .pointer, label
    {
        opacity: 0.1;
    }

    .description
    {
        width: 200px;
    }

    &.focus
    {
        transform: scale(1);

        .pointer, label
        {
            opacity: 1;
        }
    }

    &.hide
    {
        opacity: 0;
    }
}
