@import "../../Hud.scss";

SettingsMenu {
    flex-direction: column;
    width: 1000px;
    transition: all 0.20s ease-out;

    .background-panel
    {
        pointer-events: all;
        width: 1000px;
        height: 550px;
        padding: 25px;
        flex-direction: column;
    }
}