@using System;
@using Sandbox;

@namespace TTT.UI

@if (Game.LocalPawn is not TTT.Player player || player.ActiveCarriable is null)
{
    return;
}

<root>
    <div class="text-shadow">
        @if (!player.ActiveCarriable.PrimaryAttackHint.IsNullOrEmpty())
        {
            <div style="align-items: center; padding: 5px;">
                <inputglyph button="PrimaryAttack" />
                <text>@player.ActiveCarriable.PrimaryAttackHint</text>
            </div>
        }
        @if (!player.ActiveCarriable.SecondaryAttackHint.IsNullOrEmpty())
        {
            <div style="align-items: center; padding: 5px;">
                <inputglyph button="SecondaryAttack" />
                <text>@player.ActiveCarriable.SecondaryAttackHint</text>
            </div>
        }
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        var player = Game.LocalPawn as TTT.Player;
        return HashCode.Combine(player.ActiveCarriable?.PrimaryAttackHint, player.ActiveCarriable?.SecondaryAttackHint);
    }
}

<style>
    CarriableHint {
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
        font-size: 17px;
        font-weight: 500;
    }
</style>
