RoleSummary
{
    .container
    {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .role-list-container
    {
        justify-content: space-around;
    }
}