@import "/ui/Hud.scss";

DNAMenu {
    width: 100%;
    justify-content: center;
    padding: 20px;
    opacity: 0.85;

    .sample-container {
        height: 325px;
        max-height: 325px;
        flex-direction: column;
        overflow: scroll;
        width: 60%;
        margin-right: 10px;

        .empty {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
    }

    .info-container {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 325px;

        .charge {
            font-size: 50px;
            font-weight: 600;
            color: $tertiary;
        }

        .charge-status {
            margin-bottom: 30px;
            font-weight: 600;
        }

        .scan-button {
            justify-content: center;
            height: 30px;
        }
    }

    DNASample {
        padding: 5px;
        margin: 5px;
        align-items: center;
        text-shadow: 1px 1px 1px black;
        border-radius: 4px;
        flex-shrink: 0;
        border-width: 2px;

        .delete-button {
            font-size: 23px;
            color: $tertiary;
            cursor: pointer;
            margin-right: 5px;

            &:hover {
                color: #c59913;
            }

            &:active {
                transform: scale(0.9);
            }
        }

        &.selected {
            border-color: $tertiary;
        }
    }
}