HealthStationHint
{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    text
    {
        font-size: 17px;
    }

    div
    {
        align-items: center;
        justify-content: center;

        inputglyph
        {
            margin: 5px;
        }
    }
}
