PlayerInfo
{
    position: absolute;
    flex-direction: row;
    bottom: 25px;
    left: 25px;
    width: 200px;

    .role-container
    {
        padding: 2px 15px;
        border-radius: 8 0 0 8;
        justify-content: center;

        Label
        {
            font-size: 30px;
            font-weight: bold;
        }
    }

    .health-container
    {
        padding: 2px 15px;
        border-radius: 0 8 8 0;
        justify-content: center;

        Label
        {
            font-size: 30px;
            font-weight: bold;
        }
    }
}