CarriableHint
{
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;

    div 
    {
        align-items: center;
    }
}