@namespace TTT.UI

<root class="opacity-heavy text-shadow">
    <div @ref=RoleContainer class="role-container">
        <text @ref=Role />
    </div>

    <div @ref=HealthContainer class=" health-container background-color-gradient">
        <text @ref=Health />
    </div>
</root>

<style>
    PlayerInfo {
        position: absolute;
        bottom: 25px;
        left: 25px;

        .role-container {
            padding: 2px 15px;
            border-radius: 4 0 0 4;
            justify-content: center;
            font-size: 30px;
            font-weight: bold;
        }

        .health-container {
            width: 115px;
            padding: 2px 10px;
            border-radius: 4px;
            justify-content: center;
            font-size: 30px;
            font-weight: bold;

            &.hit {
                color: rgb(255, 189, 189);
            }

            &.left-flat {
                border-radius: 0 4 4 0;
            }
        }
    }
</style>