SpectatingInfo
{
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
    align-items: center;

    .name
    {
        font-size: 30px;
        font-weight: 600;
    }

    .swap-panel
    {
        align-items: center; 
        flex-direction: column;
        transition: all 0.2s ease-in-out;
    }

    inputglyph
    {
        margin: 5px;
    }
}