scoreboardheader
{
    flex-direction: row;
    max-height: 100px;
    justify-content: space-between;
    padding: 30 16 0 16;

    .terry-image
    {
        position: absolute;
        top: -60px;
        background-image: url("/ui/scoreboard-terry.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 180px;
        height: 150px;
    }

    .server-information-panel
    {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
    }

    .server-name-label
    {   
        font-size: 25px;
        font-weight: bolder;
    }

    .server-description-label
    {
        font-weight: 500;
    }

    .server-data-panel
    {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-weight: 500;
    }

    .created-by
    {
        font-size: 10px;
        opacity: 0.7;
    }
}
