@using Sandbox
@using Sandbox.UI
@using TTT
@namespace TTT.UI

@inherits Panel
@attribute [StyleSheet("UI/Player/RoleInfoPopup/RoleInfoPopup.scss")]

@code
{
	static RoleInfoPopup? Instance;
	RealTimeSince SinceCreated { get; set; } = 0;

	public RoleInfoPopup()
	{
		Instance?.Delete();
		Instance = this;
	}

	public override void Tick()
	{
		if (SinceCreated >= 10)
			Delete();

		base.Tick();
	}

	[GameEvent.Roles.Assigned]
	static void OnRolesAssigned()
	{
		if (!Game.IsClient)
			return;

		Game.RootPanel.AddChild(new RoleInfoPopup());
	}

	[GameEvent.Player.Killed]
	void OnKilledEvent(TTT.Player ply)
	{
		if (!Game.IsClient)
			return;

		Delete();
	}
}

<root>
	@if (Game.LocalPawn is not TTT.Player ply)
		return;

	<div class="inner" style="background-image: linear-gradient(@ply.Role.Color.Rgb, @Color.Gray.Darken(0.5f).Rgb)">
		@{
			var popupHeader = ply.Role switch
			{
				Innocent => "You are Innocent.",
				Traitor => "You are a Traitor!",
				Detective => "You are a Detective.",
				_ => string.Empty
			};

			var popupText = ply.Role switch
			{
				Innocent => "But, be aware there are traitors among us.\nWho can you trust, and who is out to fill you with bullets?",
				Traitor => "Work with your fellow traitors to kill the rest. Be careful to not get caught.",
				Detective => "You have been given special resources to find the traitors.\nUse them to help the innocent survive, but be careful:" +
				"the traitors will after you first and foremost",
				_ => string.Empty
			};
		}
		<label>@popupHeader</label>
		<label>@popupText</label>
	</div>
</root>