@using Sandbox
@using Sandbox.UI
@using TTT
@namespace TTT.UI

@inherits Panel
@attribute [StyleSheet("UI/Player/RoleInfoPopup/RoleInfoPopup.scss")]

@code
{
	static RoleInfoPopup? Instance;
	RealTimeSince SinceCreated { get; set; } = 0;

	public RoleInfoPopup()
	{
		Instance?.Delete();
		Instance = this;
	}

	public override void Tick()
	{
		if (SinceCreated >= 10)
			Delete();

		base.Tick();
	}

	[GameEvent.Roles.Assigned]
	static void OnRolesAssigned()
	{
		if (!Game.IsClient)
			return;

		Game.RootPanel.AddChild(new RoleInfoPopup());
	}

	[GameEvent.Player.Killed]
	void OnKilledEvent(TTT.Player ply)
	{
		if (!Game.IsClient)
			return;

		Delete();
	}
}

<root>
	@if (Game.LocalPawn is not TTT.Player ply)
		return;

	<div class="inner" style="background-image: linear-gradient(@ply.Role.Color.Rgb, @Color.Gray.Darken(0.5f).Rgb)">
		@{
			var popupHeader = ply.Role.Team switch
			{
				Team.Innocents => "You are an Innocent.",
				Team.Traitors => "You are a Traitor!",
			};

			if (ply.Role is Detective _)
				popupHeader = "You are a Detective.";
		}
		<label>@popupHeader</label>
	</div>
</root>