MapIcon
{
    margin: 10px;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
    width: 300px;
    cursor: pointer;
    border-radius: 8px;

    &:hover
    {
        transform: scale( 1.02 );
        opacity: 1;
    }

    &:active
    {
        transform: scale( 1.0 );
    }

    .votes
    {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: rgba( black, 0.9 );
        padding: 10px 15px;
        border-radius: 3px;
        font-weight: bold;
        font-size: 22px;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    .info
    {
        flex-direction: column;
        padding: 5px;
        border-radius: 3px;

        .orgavatar
        {
            position: absolute;
            left: 5px;
            top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background-color: black;
            background-position: center;
            background-size: cover;
        }

        .title
        {
            font-weight: bold;
            margin-left: 50px;
            font-size: 20px;
        }

        .orgname
        {
            font-weight: bold;
            margin-left: 50px;
            font-size: 13px;
            opacity: 0.5;
        }
    }
}
