$yellow: #ff0;
$orange: #f70;

mapvotepanel
{
    background-color: #111;
    position: absolute;
    left: -50px;
    right: -50px;
    top: -50px;
    bottom: -50px;
    pointer-events: all;
}

mapvotepanel > .inner
{
    margin: 150px 250px;
    flex-direction: column;
    flex-grow: 1;
}

mapvotepanel > .inner > .header
{
    flex-direction: row;

    .left
    {
        flex-grow: 1;
        flex-direction: column;

        .title
        {
            font-size: 50px;
            font-weight: bold;
        }

        .subtitle
        {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .right
    {
        .countdown
        {
            font-size: 50px;
            font-weight: bold;
        }
    }
}

mapvotepanel > .inner > .body
{
    flex-grow: 1;
    margin: 50px;
    flex-wrap: wrap;
}
