@import "/ui/Hud.scss";

VoiceChatEntry
{
    flex-direction: row;
    padding: 8px 8px;
    margin-bottom: 5px;
    align-items: center;
    overflow: hidden;
    transition: all 0.05s ease-out;
    background: linear-gradient($primary, $secondary);

    &:intro
    {
        opacity: 0;
        left: 10px;
    }

    &:outro
    {
        opacity: 0;
        left: 10px;
    }

    .avatar
    {
        width: 25px;
        height: 25px;
        border-radius: 4px;
    }

    .name
    {
        font-size: 16px;
        margin-left: 10px;
        font-weight: 500;
    }

    &.dead
    {
        background: linear-gradient(#fcc82d, #c59813);
    }
}

WorldPanel
{
    justify-content: center;
    align-items: center;

    .voice-icon
    {
        background-size: contain;
        width: 64px;
        height: 64px;
        font-size: 500px;
    }
}