@import "/ui/Hud.scss";

RadioMenu
{
    flex-wrap: wrap;

    button 
    {
        font-size: 25px;
        padding: 20px;
        min-width: 215px;
        min-height: 100px;
        justify-content: center;
        margin: 5px;
        background-color: $secondary;
        opacity: 0.95;
    }
}