Wire
{
    transition: transform 0.1s ease-in-out;
    justify-content: center;

    .number
    {   
        position: absolute;
        top: -20px;
    }

    .full-wire
    {
        height: 75px;
        width: 13px;

        &.cut-wire
        {
            top: 50%;
            height: 50%;
        }
    }

    .space
    {
        padding: 5px;
    }

    &:hover
    {
        transform: scale(1.2);
    }

    &:active
    {
        transform: scale(1.1);
    }
}