button, .button
{
	display: flex;
	font-family: Poppins;
	font-size: 16px;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	color: $button-primary-fg;
	min-height: $button-size;
	flex-shrink: 0;
	align-items: center;
	margin-right: 5px;

	> iconpanel
	{
		font-size: 22px;
		display: none;
	}

	&.has-icon > iconpanel
	{
		display: flex;
		margin-right: 5px;
	}

	&.has-label > .button-label
	{
		display: flex;
	}

	&.has-label.has-icon > iconpanel
	{
		margin-right: 5px;
	}

	&:hover
	{
		color: $button-secondary-fg;
	}

	&:active
	{
		color: $button-primary-fg;
	}

	&.inactive
	{
		opacity: 0.3;
		pointer-events: none;
	}
}
