@import "/ui/Hud.scss";

PossessionInfo
{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  
  transition: opacity 0.5s ease-in-out;

  text {
    padding: 8px 35px 8px 35px;
    font-size: 20px;
    font-weight: bold;
  }

  .possession-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
    background-color: $info;
    border-radius: 4px;
  }
  
  &.active {
    .possession-progress {
      transition: width 0.3s ease-in-out;
    }
  }

  &.fade-out {
    opacity: 0;
    /* ^ I think this is necessary because .opacity-heavy has higher precedence than the .fade-out class */
  }
}