RoundTimer 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    top: 20px;
    color: white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);

    .Round 
    {
        min-width: 250px;
        justify-content: center;
        border-radius: 8px;
        margin-right: 4px;
        padding: 10px 5px 10px 5px;
        font-size: 24px;
    }

    .Timer 
    {
        min-width: 150px;
        justify-content: center;
        border-radius: 0 8px 8px 0;
        margin-left: 4px;
        padding: 10px 5px 10px 5px;
        font-size: 24px;
        // background-color: rgba(41, 98, 255, 0.7);
    }
}
